<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Settings last update at 2014/12/02 22:44:42</comment>
<entry key="GaugeValueFontSize">12</entry>
<entry key="SnmpTimeout">1000</entry>
<entry key="MIB">SR1c.mib</entry>
<entry key="RebootTimeout">90000</entry>
<entry key="PollingIntervalInSeconds">1</entry>
<entry key="TFTPPort">69</entry>
<entry key="MinPowerLevel">-70</entry>
<entry key="GaugeSize">626</entry>
<entry key="TftpTimeout">60000</entry>
<entry key="MinBitRate">0</entry>
<entry key="MinHeight">250</entry>
<entry key="BitRateAverageLength">10</entry>
<entry key="RedPowerLevel">-60</entry>
<entry key="Height">285</entry>
<entry key="YellowPowerLevel">-50</entry>
<entry key="FontName">Tahoma</entry>
<entry key="MinWidth">600</entry>
<entry key="MaxPowerLevel">-20</entry>
<entry key="ReadCommunity">public</entry>
<entry key="SnmpRetries">1</entry>
<entry key="RedEsno">3</entry>
<entry key="MinEsno">0</entry>
<entry key="DeviceAddress">192.168.10.99</entry>
<entry key="GaugeTickFontSize">10</entry>
<entry key="MaxEsno">30</entry>
<entry key="Width">706</entry>
<entry key="MaxBitRate">100</entry>
<entry key="YellowEsno">12</entry>
<entry key="WriteCommunity">private</entry>
</properties>
